// Define fonts for body and headers
$body-font: 'Museo Sans', sans-serif;
$headers-font: 'Museo Sans', sans-serif;

@font-face {
  font-family: 'Museo Sans';
  src: font-url(asset-path('MuseoSans_500.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Museo Sans', sans-serif;
}
