.question {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.question1 {
  text-align: center;
}

.unidade {
  display: flex;
  justify-content: center;
}

#form1, #form2, #form3 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.opcoes1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.opcoes2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#btn1, #btn2, #btn3 {
  border: 1px solid #001E60;
  border-radius: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
  font-size: 17px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001E60;
  background-color: rgb(255, 255, 255);
}

#btn1_, #btn2_, #btn3_, #btn4_, #btn5_, #btn6_, #btn7_, #btn8_, #btn9_, #btn10_, #btn11_, #btn12_ {
  border: 1px solid #001E60;
  border-radius: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
  font-size: 17px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001E60;
  background-color: rgb(255, 255, 255);
}

  #btn1:hover, #btn2:hover, #btn3:hover, #btn1_:hover, #btn2_:hover, #btn3_:hover,
  #btn4_:hover, #btn5_:hover, #btn6_:hover, #btn7_:hover, #btn8_:hover, #btn9_:hover,
  #btn10_:hover, #btn11_:hover, #btn12_:hover {
    background-color: #001E60;
    color: white;
  }
